name: "CodeCov"
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
    branches: [main]
permissions:
  contents: read
jobs:
  codecov:
    name: codecov
    runs-on: ubuntu-latest
    environment: CI
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Run coverage
        run: go test -coverprofile=coverage.txt -covermode=set
      - name: Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
